<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WixSharp" publicKeyToken="3775edd25acc43c2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.7.1" newVersion="1.4.7.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
